   <footer>
      <div class="container">
        <div class="footer-logo">
          <!-- <i class="fa-solid fa-graduation-cap"></i> -->
          <h1 class="">الشهادة</h1>
        </div>
        <div class="links-social">
          <a
            href=""
            target="_blank"
            aria-label="فيسبوك"
          >
            <img
              src="assetsLanding/img/3225194_app_facebook_logo_media_popular_icon.svg"
              alt="فيسبوك"
              loading="lazy"
            />
          </a>
          <a
            href=""
            target="_blank"
            aria-label="واتساب"
          >
            <img
              src="assetsLanding/img/icons8-whatsapp.svg"
              alt="واتساب"
              loading="lazy"
            />
          </a>
          <a
            href=""
            target="_blank"
            aria-label="يوتيوب"
          >
            <img
              src="assetsLanding/img/3225180_app_logo_media_popular_social_icon.svg"
              alt="يوتيوب"
              loading="lazy"
            />
          </a>
          <a
            href=""
            target="_blank"
            aria-label="تيك توك"
          >
            <img
              src="assetsLanding/img/7693325_tiktok_social media_logo_apps_icon.svg"
              alt="تيك توك"
              loading="lazy"
            />
          </a>
        </div>
        <p>
تم تصميم هذه المنصة لإعداد الطالب بشكل شامل للثانوية العامة وما بعدها.        </p>
      </div>
    </footer>