<nav>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">

<style>
    *{
        font-family: 'Noto Kufi Arabic', sans-serif;
    }
</style>

    <div class="container nav__container">
        <a href=".">
            <h2 >الشهادة</h2>
        </a>
        <ul class="nav__menu">
            <!-- <li><a href="store.html" style="opacity: 0.4;">متجر ممكن <span style="font-size: .5rem;">قريبا</span></a></li> -->
            <li><a href="Register">انضم الينا</a></li>
            <li  id="Contactus" style="cursor: pointer;"><a >تواصل معنا</a></li>
        </ul>
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
</nav>