<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="max-age=31536000, immutable" />
    
    <!-- Preconnect to fonts.google.com for faster font loading -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Preload fonts to speed up their rendering -->
    <link
      href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Noto+Kufi+Arabic:wght@100..900&family=Viga&display=swap"
      rel="stylesheet"
      rel="preload"
      as="style"
    />
    <!-- Favicon -->
    <!-- <link
      rel="icon"
      href="assetsLanding/img/headerIMG.webp"
      type="image/webp"
    /> -->
    <!-- Consolidate and defer CSS loading for better performance -->
    <link rel="preload" href="assetsLanding/css/all.min.css" as="style" />
    <link rel="stylesheet" href="assetsLanding/css/all.min.css" />
    <link rel="stylesheet" href="assetsLanding/css/header.css" />
    <link rel="stylesheet" href="assetsLanding/css/style.css" />
    <link rel="stylesheet" href="assetsLanding/css/main.css" />

    <!-- Lazy load the sign-in-up CSS -->
    <link rel="stylesheet" href="assetsLanding/css/sign-in-up.css" media="print" onload="this.media='all'" />

    <!-- Remove unused 'webfonts/' link -->
    <!-- If this folder is necessary for specific fonts, re-add it with proper path -->

    <title>الشهادة</title>
  </head>

  <body>
    <!-- Start Header -->
    <header>
        <%- include("./partials/head.ejs") %>

    </header>
    <main>
      <div class="main-container">
        <div class="Sign-Left up">
          <h2 class="title">
            <i class="fa-regular fa-square-plus"></i> طلب
            <span>انشاء حساب :</span>
          </h2>
          <p>
            ادخل بياناتك بشكل صحيح وسيتم التواصل معاك خلال ساعات قليلة لتفعيل
            الحساب !
          </p>
          <form action="/Register" method="POST">

           <% if (typeof errors !=='undefined' ) { %>
            <ul class="errors">
              <% for (const key in errors) { %>
                <li class="erorr">
                  <%= errors[key] %>
                </li>
                <% } %>


            </ul>
            <% } %>

            <div class="input-container">
          
              <div class="inputs-form name">
                <input type="text" id="first-name" name="Username" required />
                <div class="input-details">
                  <i class="fa-solid fa-user"></i>
                  <label for="first-name">الاسم بالكامل</label>
                </div>
              </div>
<!-- 
              <div class="inputs-form name">
                <input type="text" id="last-name" name="last-name" required />
                <div class="input-details">
                  <i class="fa-solid fa-user"></i>
                  <label for="last-name">اسم العائلة</label>
                </div>
              </div> -->

              <!-- رقم الهاتف الشخصي -->
              <div class="inputs-form phone-number">
                <input
                  type="number"
                  id="personal-phone"
                  name="phone"
                  required
                />
                <div class="input-details">
                  <i class="fa-solid fa-phone"></i>
                  <label for="personal-phone">رقم الهاتف الشخصي</label>
                </div>
              </div>

              <!-- رقم الهاتف الأب -->
              <div class="inputs-form phone-number">
                <input
                  type="number"
                  id="father-phone"
                  name="parentPhone"
                  required
                />
                <div class="input-details">
                  <i class="fa-solid fa-phone"></i>
                  <label for="father-phone">رقم الهاتف الأب</label>
                </div>
              </div>

              <!-- رقم الهاتف الأم -->
              <!-- <div class="inputs-form phone-number">
                <input
                  type="text"
                  id="mother-phone"
                  name="mother-phone"
                  required
                />
                <div class="input-details">
                  <i class="fa-solid fa-phone"></i>
                  <label for="mother-phone">رقم الهاتف الأم</label>
                </div>
              </div> -->

              <!-- اسم المدرسة -->
              <div class="inputs-form school-name">
                <input
                  type="text"
                  id="school-name"
                  name="schoolName"
                  required
                />
                <div class="input-details">
                  <i class="fa-solid fa-school"></i>
                  <label for="school-name">اسم المدرسة</label>
                </div>
              </div>
                  <div class="dropdown-container">
                <div class="dropdown-selected">
                  الصف الأول الثانوي
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    class="dropdown-arrow"
                  >
                    <path
                      d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                    ></path>
                  </svg>
                </div>
                <div class="dropdown-options">
                  <div>
                    <input id="option1" value="Grade1" name="Grade" type="radio" checked />
                    <label
                      class="dropdown-option-label"
                      for="option1"
                      data-txt="الصف الأول الثانوي"
                    ></label>
                  </div>
                  <div>
                    <input id="option2" value="Grade2" name="Grade" type="radio" />
                    <label
                      class="dropdown-option-label"
                      for="option2"
                      data-txt="الصف الثاني الثانوي"
                    ></label>
                  </div>
                  <div>
                    <input id="option3" value="Grade3" name="Grade" type="radio" />
                    <label
                      class="dropdown-option-label"
                      for="option3"
                      data-txt="الصف الثالث الثانوي"
                    ></label>
                  </div>
                </div>
              </div>
              <div class="dropdown-container">
                <div class="dropdown-selected">
                  القاهرة
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    class="dropdown-arrow"
                  >
                    <path
                      d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                    ></path>
                  </svg>
                </div>

               <div class="dropdown-options two">
                <div>
                  <input id="option1-1" name="gov" type="radio" value="Cairo" checked />
                  <label class="dropdown-option-label" for="option1-1" data-txt="القاهرة"></label>
                </div>
                <div>
                  <input id="option2-2" name="gov" type="radio" value="Alexandria" />
                  <label class="dropdown-option-label" for="option2-2" data-txt="الإسكندرية"></label>
                </div>
                <div>
                  <input id="option3-3" name="gov" type="radio" value="Giza" />
                  <label class="dropdown-option-label" for="option3-3" data-txt="الجيزة"></label>
                </div>
                <div>
                  <input id="option4" name="gov" type="radio" value="Sharm El-Sheikh" />
                  <label class="dropdown-option-label" for="option4" data-txt="شرم الشيخ"></label>
                </div>
                <div>
                  <input id="option5" name="gov" type="radio" value="Hurghada" />
                  <label class="dropdown-option-label" for="option5" data-txt="الغردقة"></label>
                </div>
                <div>
                  <input id="option6" name="gov" type="radio" value="Aswan" />
                  <label class="dropdown-option-label" for="option6" data-txt="أسوان"></label>
                </div>
                <div>
                  <input id="option7" name="gov" type="radio" value="Marsa Alam" />
                  <label class="dropdown-option-label" for="option7" data-txt="مرسى علم"></label>
                </div>
                <div>
                  <input id="option8" name="gov" type="radio" value="Luxor" />
                  <label class="dropdown-option-label" for="option8" data-txt="الأقصر"></label>
                </div>
                <div>
                  <input id="option9" name="gov" type="radio" value="Port Said" />
                  <label class="dropdown-option-label" for="option9" data-txt="بور سعيد"></label>
                </div>
                <div>
                  <input id="option10" name="gov" type="radio" value="Suez" />
                  <label class="dropdown-option-label" for="option10" data-txt="السويس"></label>
                </div>
                <div>
                  <input id="option11" name="gov" type="radio" value="Tanta" />
                  <label class="dropdown-option-label" for="option11" data-txt="طنطا"></label>
                </div>
                <div>
                  <input id="option12" name="gov" type="radio" value="Zagazig" />
                  <label class="dropdown-option-label" for="option12" data-txt="الزقازيق"></label>
                </div>
                <div>
                  <input id="option13" name="gov" type="radio" value="Mataria" />
                  <label class="dropdown-option-label" for="option13" data-txt="المطرية"></label>
                </div>
                <div>
                  <input id="option14" name="gov" type="radio" value="Damanhour" />
                  <label class="dropdown-option-label" for="option14" data-txt="دمنهور"></label>
                </div>
                <div>
                  <input id="option15" name="gov" type="radio" value="Fayoum" />
                  <label class="dropdown-option-label" for="option15" data-txt="الفيوم"></label>
                </div>
                <div>
                  <input id="option16" name="gov" type="radio" value="Beni Suef" />
                  <label class="dropdown-option-label" for="option16" data-txt="بني سويف"></label>
                </div>
                <div>
                  <input id="option17" name="gov" type="radio" value="Menoufia" />
                  <label class="dropdown-option-label" for="option17" data-txt="المنوفية"></label>
                </div>
                <div>
                  <input id="option18" name="gov" type="radio" value="Kafr El-Sheikh" />
                  <label class="dropdown-option-label" for="option18" data-txt="كفر الشيخ"></label>
                </div>
                <div>
                  <input id="option19" name="gov" type="radio" value="Shebin El-Kom" />
                  <label class="dropdown-option-label" for="option19" data-txt="شبين الكوم"></label>
                </div>
                <div>
                  <input id="option20" name="gov" type="radio" value="Banha" />
                  <label class="dropdown-option-label" for="option20" data-txt="بنها"></label>
                </div>
                <div>
                  <input id="option21" name="gov" type="radio" value="Ismailia" />
                  <label class="dropdown-option-label" for="option21" data-txt="الإسماعيلية"></label>
                </div>
                <div>
                  <input id="option22" name="gov" type="radio" value="Sohag" />
                  <label class="dropdown-option-label" for="option22" data-txt="سوهاج"></label>
                </div>
                <div>
                  <input id="option23" name="gov" type="radio" value="Asyut" />
                  <label class="dropdown-option-label" for="option23" data-txt="أسيوط"></label>
                </div>
                <div>
                  <input id="option24" name="gov" type="radio" value="Minya" />
                  <label class="dropdown-option-label" for="option24" data-txt="المنيا"></label>
                </div>
                <div>
                  <input id="option25" name="gov" type="radio" value="Qena" />
                  <label class="dropdown-option-label" for="option25" data-txt="قنا"></label>
                </div>
                <div>
                  <input id="option26" name="gov" type="radio" value="New Valley" />
                  <label class="dropdown-option-label" for="option26" data-txt="الوادى الجديد"></label>
                </div>
                <div>
                  <input id="option27" name="gov" type="radio" value="North Sinai" />
                  <label class="dropdown-option-label" for="option27" data-txt="شمال سيناء"></label>
                </div>
               </div>

              </div>
              <!-- مهنة ولي الأمر -->
              <!-- <div class="inputs-form parent-job">
                <input type="text" id="parent-job" name="parent-job" required />
                <div class="input-details">
                  <i class="fa-solid fa-briefcase"></i>
                  <label for="parent-job">مهنة ولي الأمر</label>
                </div>
              </div> -->

              <!-- البريد الإلكتروني -->
              <div class="inputs-form Markez">
                <input type="Markez" id="Markez" name="Markez" required />
                <div class="input-details">
                  <i class="fa-solid fa-briefcase"></i>
                  <label for="Markez">المركز او المنطقة التابع لها </label>
                </div>
              </div> 

              <!-- كلمة المرور -->
              <div class="inputs-form p">
                <input
                  type="password"
                  id="password1"
                  name="password"
                  required
                />
                <div class="input-details password-check">
                  <i class="fa-solid fa-lock"></i>
                  <label for="password1">كلمة السر</label>
                </div>
              </div>
              <!--  المرور -->
              <div class="inputs-form password-confirm">
                <input
                  class="inputPassword"
                  type="password"
                  id="password"
                  name="password2"
                  required
                />
                <i
                  class="fa-solid fa-eye-slash password-icon"
                  id="password_hidden"
                ></i>
                <div class="input-details">
                  <i class="fa-solid fa-lock"></i>
                  <label for="password">تأكيد كلمة السر</label>
                </div>
              </div>
            </div>

            
            
            <button class="Landing-btn-book" style="margin-top: 30px;">ارسل طلب </button>
           
              <div class="success-message" style="display: none;">
                <h3 >تم انشاء حسابك بنجاح! وهذا هوا الكود الخاص بك <span class="Code" id="student_Code"></span> <br> يرجي الاحتفاظ به جيدا </h3>
              </div>

          </form>

         
         
       
          <p>
            يوجد لديك حساب بالفعل؟
            <a href="login" class="sign-in-join"
              >ادخل إلى حسابك الآن !</a
            >
          </p>
          <a href="/">
            <button class="Landing-btn-book">الصفحة الرئيسية</button>
          </a>
        </div>

      </div>
    </main>

     <!-- Footer Section -->
     <%- include("./partials/footer.ejs") %>
    <script src="assetsLanding/js/script.js" defer></script>
    <script src="assetsLanding/js/sign-in-up.js" defer></script>
  </body>
</html>
