<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post">
        <input type="text" name="pdfName" placeholder="name">
        <input type="text" name="pdfLink" placeholder="pdfLink">
        
        <select name="status" id="">
            <option value="Free">Free</option>
            <option value="Paid">Paid</option>
         
        </select>
        <select name="pdfGrade" id="">
            <option value="Grade1">Grade1</option>
            <option value="Grade2">Grade2</option>
            <option value="Grade3">Grade3</option>
         
        </select>

        <input type="text" name="price" placeholder="price">

        <button type="submit" value="submit"> submit </button>
    </form>

</body>
</html>